<h3>Hourly weather at {{ model.address }} on {{ moment-format model.date  }}</h3>

{{ chartist-chart data=model.details type="bar" ratio="ct-golden-section" options=chartOptions }}
<blockquote>
    <span class="ct-legend-a">Temperature</span> <span class="ct-legend-b">Humidity</span> <span class="ct-legend-c">Wind Speed</span>
</blockquote>