{{#paper-content}}
  {{#paper-list}}
    {{#each weather.data as |detail|}}
      {{# link-to "details" lat lng detail.time tagName="md-list-item" }}

        {{weather-detail weather=detail}}

      {{/link-to}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
