@import 'ember-paper';
@import "chartist-settings";
$ct-series-colors: (
  #f05b4f,
  #0544d3,
  #6b0392,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca,
  #d70206,
);
@import "chartist";

.site-nav-container {
  width: 100%;
  height: 100%;
}

.ember-cli-g-map {
  height: 100%;
  min-height: 820px;
  width: 100%;
}

.input-search {
  border-color: rgba(0, 0, 0, .12);
  text-shadow: none;
  width: 750px;
}

.ct-legend-a {
  color: #f05b4f;
}
.ct-legend-b {
  color: #0544d3;
}
.ct-legend-c {
  color: #6b0392;
}
