{{#paper-content}}
  {{#paper-button raised=true primary=true action="clearHistory" target=component}}Clear{{/paper-button}}
  {{#paper-list}}
    {{#each model.entries as |entry|}}
      {{# link-to "historyView" entry.id tagName="md-list-item" }}

          <p>{{ entry.address }}, {{ moment-format entry.time }}</p>

      {{/link-to}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}
