{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}

    {{#paper-toolbar}}
        <div class="md-toolbar-tools">
            <h1>{{#link-to 'index'}}Weathember!{{/link-to}}</h1>
        </div>
    {{/paper-toolbar}}

    {{ outlet "weather" }}

  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>

    {{#paper-content}}
      {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            {{ input placeholder="Search" autofocus="autofocus" enter="updateSearch" value=model.address class="input-search" }}
            {{# link-to "history" class="md-padding" }}Search History{{/link-to}}
          </div>

      {{/paper-toolbar}}

      {{outlet "content" }}

    {{/paper-content}}
  </div>

{{/paper-nav-container}}

<div id="#paper-wormhole"></div>